/******************************************\
                $Imported Fonts
\******************************************/



/******************************************\
                $CSS Reset
\******************************************/

/* basic elements */
body, html, section, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, th, td
{
margin: 0; padding: 0; border: 0; outline: none;
}

body {
line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
padding: 0;
margin: 0 0;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

ul, ol {
list-style: none;
}

a {
color: green;
text-decoration: none;
}

a:hover {
text-decoration: none;
color: #EBB000;
}

/******************************************\
                $Main
\******************************************/

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: skyblue;
}

/*********SHARED**********************/

#breakWord, #workWord {
    font-size: 2em;
}

#breakTime, #workTime {
    margin-top: 40px;
    font-size: 3em;
}

#breakNum, #workNum {
    padding: 0 50px;
}

#minus1, #minus2, #plus1, #plus2 {
    cursor: pointer;
    user-select: none;
    -moz-user-select:none;
    -ms-user-select: none;
}
/*************************************/

#breakBox {
    margin-top: 175px;
    text-align: center;
}
/************************************/

#clockBox {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 350px;
  height: 200px;
  /*border: solid green 3px;*/
  border-radius: 250px;
  font-size: 10em;
  /*background-color: silver;*/
  cursor: pointer;
}
/*************************************/

#workBox {
    text-align: center;
}
